<% layout('index')%>
<% block('stylesheets').append('') %>

<h1><%= data.name[0].toUpperCase() + data.name.slice(1)%> Welcome to the Computer Science Tutor Lab</h1>
<h2>Please fill out the information below to receive help</h2>



<% block('scripts').append('<script type="text/javascript" src="/public/js/login.js"></script>') %>