<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login - CS Tutor Lab</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="/public/js/jquery-3.1.1.js"></script>
        <link href="/public/css/index.css" rel="stylesheet">
        <%- block('stylesheets').toString() %>
    </head>
    <body>
        <%- body %>
        <%- block('scripts').toString() %>
    </body>
</html>